<table>
  <th>
    <h1><%= @cat.name %></h1>
  </th>
  <tr>
    <td>
      <% owner = User.find(@cat.user_id) %>
      <% unless !current_user.nil? && owner == current_user %>
        Owner: <%= owner.user_name %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <%= @cat.age %> years old
    </td>
  </tr>
  <tr>
    <td>
      Born on <%= @cat.birth_date %>
    </td>
  </tr>
  <tr>
    <td>
      <%= @cat.color %>
    </td>
  </tr>
  <tr>
    <td>
      <%= @cat.sex == 'M' ? 'Male' : 'Female' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= @cat.description %>
    </td>
  </tr>
</table>

<a href="<%= edit_cat_url %>"><button>Edit your Cat</button></a>
<br><br>

<table>
  <tr>
    <td><h3>Requested Rentals:</h3></td>
  </tr><tr>
    <td><center><u>Start Date</u> | <u>End Date</u> | <u>Status</u></center></td>
  </tr>
  <% @cat.cat_rental_requests.order('start_date').each do |rental| %>
  <tr><td><center>
    <%= rental.start_date %> | <%= rental.end_date %>
    <% if rental.pending? %>
    <br><td>
      <% if !current_user.nil? && owner == current_user %>
        <form action="/cat_rental_requests/<%= rental.id %>/approve" method="post"><%= auth_token %><button>Approve</button></a></form>
        <form action="/cat_rental_requests/<%= rental.id %>/deny" method="post"><%= auth_token %><button>Deny</button></a></form></td>
      <% end %>
    <% else %>
     | <%= rental.status %>
    <% end %>
  </center></td></tr>
  <% end %>
</table>
